.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  background-color: $blue_main;

  &__menu {
    padding-left: 24px;
  }

  &__logo {
    padding-left: 16px;
  }

  &__search {
    margin-left: 41px;
    padding: 0 8px;
    max-width: 280px;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 20px;
    background-color: #fff;
    color: $text_main;
    border-radius: 8px;

    @include breakpoint($tablet-bp) {
      display: none;
    }
  }
  &__search p {
    padding: 0 44px 0 12px;
  }
}
.vector__img,
.search__img {
  display: block;
  width: 20px;
  height: 20px;
}
.righted {
  order: 999;
  margin-left: auto;
}
.lang-container {
  margin-right: 12px;
  padding: 4px 13.41px 4px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 96px;
  width: 100%;
  height: 32px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  cursor: pointer;
}
.lang__list{
  position: relative;
  display: flex;
  align-items: center;

    &__dropdown {
      font-size: 0.875rem;
      color: #fff;
    }
}
#lang__list-items {
  position: absolute;
  padding: 4px 0;
  top: 30px;
  left: -38px;
  width: 96px;
  background-color: #fff;
  border-radius: 8px;

    & a {
      display: block;
      text-align: center;
      font-size: 0.875rem;
      font-weight: 600;
      color:rgba(28, 33, 48, 0.8);
      text-decoration: none;
      line-height: 20px;
      border-radius: 8px;
    }
    & a:hover {
      color: $text_cap;
    }
}
.vector-down {
  width: 8px;
  height: 6px;
}

