.sidebar {
  position: absolute;
  width: 304px;
  height: 100vh;
  top: 10px;
  left: 0;
  background-color: #fff;
  z-index: 100;

  &__logo {
    margin: 6px 0 16px 20px;
    width: 154px;
    height: 32px;
  }

  &__close-btn {
    position: absolute;
    top: 6px;
    right: 16px;

    &:hover {
    transform: scale(1.4);
    cursor: pointer;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 304px;
    height: 504px;
  }
  
  &__item {
    position: relative;
    padding: 12px 20px;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .item-img {
      margin-right: 16px;
    }
    a {
      display: block;
      text-decoration: none;
      color: $text_menu;
      font-size: 1rem;
      line-height: 24px;
    }
    .arrow-up {
      position: absolute;
      left: 272px;
    }
    .days__list-items {
      position: absolute;
      top: 48px;
      left: 0;
      background-color:#fff;
      width: 100%;
      height: 200px;

      a {
        padding: 8px 60px;
      }
    }
  }
  
}
.hidden {
  display: none;
}
.cover {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
