<header class="header">
  <div class="header__menu">
    <img src="../assets/images/icons/burger_menu.png" alt="">
  </div>
  <div class="header__logo">
    <img src="../assets/images/icons/logo.png" alt="">
  </div>
  <div class="header__search">
    <img class="vector__img" src="../assets/images/icons/Vector.png" alt="">
    <p>Переяслав-Хмельницкий</p>
    <img class="search__img" src="../assets/images/icons/search.png" alt="">
  </div>
  <div class="lang-container righted">
    <img class="lang__img" src="../assets/images/icons/language.png" alt="">
    <div class="lang__list">
      <div class="lang__dropdown">Рус</div>
      <div id="lang__list-items" class="hidden">
        <a href="#">Рус</a>
        <a href="#">Укр</a>
      </div>
      <img class="vector-down" src="../assets/images/icons/Vector_up.png" alt="">
    </div>


</header>