<div class="hamburger-menu hide">
  <a href="" class="hamburger-menu_button">
    <spun class="hamburger-menu_lines"></spun>
  </a>
  <div class="byDaysList">
    <button class="days__button">По дням</button>
    <div id="list-items" class="hide">
      <a href="#"> Сегодня </a>
      <a href="#"> 3 дня </a>
      <a href="#"> 5 дней </a>
      <a href="#"> Неделя </a>
      <a href="#"> Месяц </a>
    </div>
  </div>
  <!-- <nav class="hamburger-menu_nav">
    <a href="#section-1" class="hamburger-menu_link">Секция 1</a>
    <a href="#section-2" class="hamburger-menu_link">Секция 2</a>
    <a href="#section-3" class="hamburger-menu_link">Секция 3</a>
    <a href="#section-4" class="hamburger-menu_link">Секция 4</a>
    <a href="#section-5" class="hamburger-menu_link">Секция 5</a>
  </nav> -->
  <div class="hamburger-menu_overlay"></div>
</div>