<div class="sidebar hidden">

  <div class="sidebar__logo">
    <img src="../assets/images/icons/logo_navbar.png" alt="">
  </div>

  <div class="sidebar__close-btn">
    <img src="../assets/images/icons/close.png" alt="">
  </div>

  <div class="sidebar__container">
    <div id="days__list" class="sidebar__item">
      <img class="item-img" src="../assets/images/icons/by_day.png" alt="">
      <a href="#">По дням</a>
      <img src="../assets/images/icons/chevron-up.png" alt="" class="arrow-up">
      <div class="days__list-items  hidden">
        <a href="#" class="sidebar__link"> Сегодня </a>
        <a href="#" class="sidebar__link"> 3 дня </a>
        <a href="#" class="sidebar__link"> 5 дней </a>
        <a href="#" class="sidebar__link"> Неделя </a>
        <a href="#" class="sidebar__link"> Месяц </a>
      </div>
    </div>

    <div class="sidebar__item">
      <img class="item-img" src="../assets/images/icons/flag.png" alt="">
      <a href="#" class="sidebar__link">В Украине</a>
    </div>

    <div class="sidebar__item">
      <img class="item-img" src="../assets/images/icons/world.png" alt="">
      <a href="#" class="sidebar__link">В мире</a>
    </div>

    <div class="sidebar__item">
      <img class="item-img" src="../assets/images/icons/resorts.png" alt="">
      <a href="#" class="sidebar__link">На курортах</a>
    </div>

    <div class="sidebar__item">
      <img class="item-img" src="../assets/images/icons/map.png" alt="">
      <a href="#" class="sidebar__link">Карта погоды</a>
    </div>

    <div class="sidebar__item">
      <img class="item-img" src="../assets/images/icons/waves.png" alt="">
      <a href="#" class="sidebar__link">Температура воды</a>
    </div>








  </div>
  <!-- <a href="" class="hamburger-menu_button">
    <spun class="hamburger-menu_lines"></spun>
  </a>
  <div class="byDaysList">
    <button class="days__button">По дням</button>
    <div id="list-items" class="hidden">
      <a href="#"> Сегодня </a>
      <a href="#"> 3 дня </a>
      <a href="#"> 5 дней </a>
      <a href="#"> Неделя </a>
      <a href="#"> Месяц </a>
    </div>
  </div> -->
  <!-- <nav class="hamburger-menu_nav">
    <a href="#section-1" class="hamburger-menu_link">Секция 1</a>
    <a href="#section-2" class="hamburger-menu_link">Секция 2</a>
    <a href="#section-3" class="hamburger-menu_link">Секция 3</a>
    <a href="#section-4" class="hamburger-menu_link">Секция 4</a>
    <a href="#section-5" class="hamburger-menu_link">Секция 5</a>
  </nav> -->
  <div class="hamburger-menu_overlay"></div>


</div>
<div class="cover hidden" id="cover"></div>